<!DOCTYPE html>
<%- include('../partials/header.ejs') %>

          <section>

            <div class="container">
              <br>
              <h1>Administrative Dashboard</h1>
              <br>

              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createProduct">
                Create product
              </button>
              <br>
              <br>
              
              <h3>Manage Products</h3>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Category</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% var id=1; %>
                  <% products.forEach(product => { %>
                    <tr>
                      <th scope="row"><a href="/product/update-product/<%- product.id %>"><%- id %></a></th>
                      <td><%- product.name %></td>
                      <td><%- product.price %></td>
                      <td><%- product.stock %></td>
                      <td><%- product.category %></td>
                      <td> <a class="btn btn-danger" href="/product/delete/<%-product.id %>">Delete</a></td>
                    </tr>
                  <% id++; }); %>
                  
                </tbody>
              </table>
            
              
              
             </div>
            <!-- Button trigger modal -->
           

            <!-- Modal -->
            <div class="modal fade" id="createProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Create Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form action="/product/create-product" method="POST">
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Name</span>
                        <input type="text" class="form-control" placeholder="Product Name" aria-label="Product name" aria-describedby="basic-addon1" name="name">
                      </div>
                      
                      <div class="input-group">
                        <span class="input-group-text">Description</span>
                        <textarea class="form-control" aria-label="With textarea" name="description"></textarea>
                      </div>
                      <br>
    
                      <div class="input-group mb-3">
                        <span class="input-group-text">MUR</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest rupee)" name="price">
                        <span class="input-group-text">.00</span>
                      </div>
    
                      <div class="input-group mb-3">
                        <span class="input-group-text">Stock</span>
                        <input type="text" class="form-control" aria-label="" name="stock">
                  
                      </div>
    
                      <select class="form-select" aria-label="Product category" name="category">
                        <option value="Electronics">Electronics</option>
                        <option value="Food">Food</option>
                        <option value="Beauty">Beauty</option>
                      </select>
                      <br>
    
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Image Url</span>
                        <input type="text" class="form-control" aria-label="Image Url" aria-describedby="basic-addon1" name="img_url">
                      </div>
                      <br>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Create Product</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                      </div>
                     
                  
                    </form>
                 
                  </div>
                  
                </div>
              </div>
            </div>




           
           

          </section>
        

<%- include('../partials/footer.ejs') %>