<!DOCTYPE html>
<%- include('../partials/header.ejs') %>

          <section>

            <div class="container">
              <br>
              <h1>Administrative Dashboard</h1>
              <br>
              <br>

            
              
              <h3>Update Product</h3>
          
              <form action="/product/update-product/<%-product.id %>" method="POST">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">Name</span>
                  <input type="text" class="form-control" placeholder="Product Name" aria-label="Product name" aria-describedby="basic-addon1" name="name" value="<%-product.name %>">
                </div>
                
                <div class="input-group">
                  <span class="input-group-text">Description</span>
                  <textarea class="form-control" aria-label="With textarea" name="description"><%-product.description %></textarea>
                </div>
                <br>

                <div class="input-group mb-3">
                  <span class="input-group-text">MUR</span>
                  <input type="text" class="form-control" aria-label="Amount (to the nearest rupee)" name="price" value="<%-product.price %>">
                  <span class="input-group-text">.00</span>
                </div>

                <div class="input-group mb-3">
                  <span class="input-group-text">Stock</span>
                  <input type="text" class="form-control" aria-label="" name="stock" value="<%-product.stock %>">
            
                </div>

                <select class="form-select" aria-label="Product category" name="category">
                  <option value="Electronics" <% if (product.category=='Electronics'){%>selected <% } %>>Electronics</option>
                  <option value="Food"<% if (product.category=='Food'){%>selected <% } %>>Food</option>
                  <option value="Beauty"<% if (product.category=='Beauty'){%>selected <% } %>>Beauty</option>
                </select>
                <br>

                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">Image Url</span>
                  <input type="text" class="form-control" aria-label="Image Url" aria-describedby="basic-addon1" name="img_url" value="<%-product.imgUrl %>">
                </div>
                <br>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-success">Update Product</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
                
            
              </form>
            </div>

          </section>
        

<%- include('../partials/footer.ejs') %>